<h1>Recipes</h1>
<div>
  <form (ngSubmit)="addRecipe()">
    <div>
      <input
        name="name"
        class="form-control"
        [(ngModel)]="recipe.name"
        type="text"
        placeholder="name "
      />
      <br />
      <br />
      <input
        name="ingredients"
        [(ngModel)]="recipe.ingredients"
        class="form-control"
        type="text"
        placeholder="ingredients "
      />
      <br />
      <br />
      <input
        name="description"
        [(ngModel)]="recipe.description"
        class="form-control"
        type="text"
        placeholder="description"
      />
    </div>
    <br />
    <button type="submit">Add recipe</button>
  </form>

  <ul>
    <li *ngFor="let recipe of recipes">
      <h2>
        {{ recipe.name }}
      </h2>
      <div>
        <h3>Ingredients</h3>
        {{ recipe.ingredients }}
      </div>
      <div>
        <h3>Description</h3>
        {{ recipe.description }}
      </div>
    </li>
  </ul>
</div>
